<div class="card">
  <div class="card-body">
    <h5 class="card-title">Exclusão do Cargo</h5>
    <form>
      <div class="mb-3">
        <label class="form-label">Descrição do Cargo</label>
        <input type="text" class="form-control" [(ngModel)]="cargo.car_descricao" readonly name="car_descricao">
      </div>
      <div class="mb-3">
        <label class="form-label">Nome do Cargo</label>
        <input type="text" class="form-control" [(ngModel)]="cargo.car_nome" readonly name="car_nome">
      </div>
      <button  class="btn btn-outline-danger" (click)="excluirCargo()">Excluir</button>
      <button routerLink="/cargo" class="btn btn-outline-secondary mx-3">Cancelar</button>
    </form>

  </div>
</div>

